*{
    padding: 0;
    margin: 0;
    font-family: Century Gothic;
}

body{
    background-color:#ededed;
    height: auto;
}

.home{
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    height: auto;
    background-color: rgb(59, 59, 59);
}

.nc{
    background-color: #E5E7E9;
    margin-bottom: 10px;
    padding: 10px;
}

.nc h1{
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    text-align: center;
}

.nc h3{
    text-align: center;
}

.sobre-mi{
    /*width: auto;*/
    text-align: justify;
    background-color: #E5E7E9;
    flex-wrap: wrap;
    width: auto;
    padding: 10px;
    margin-bottom: 5px;
}

.sobre-mi h2{
    text-align: center;
}

.sobre-mi p{
    margin: 20px;
    text-align: center;
}

.educacion{
    background-color: #E5E7E9;
    flex-wrap: wrap;
    width: auto;
    padding: 10px;
    margin-bottom: 10px;
}

.educacion h2{
    text-align: center;
    padding-bottom: 5px;
    
}

.educacion ul li{
    text-align: center;
    padding-bottom: 3px;
    list-style: none;
}

.experiencia{
    background-color: #E5E7E9;
    flex-wrap: wrap;
    width: auto;
    padding: 10px;
    text-align: justify;
}

.experiencia h2, h5, h6{
    text-align: center;
    padding-bottom: 10px;
    
}

.experiencia p{
    text-align: center;
}

.experiencia ul li{
    text-align: center;
    padding-bottom: 3px;
}

.in-flex{
    flex: 1;
    
}

.in-flex:first-child{
    flex: 2;
    padding: 25px;
    background-color: white;
    margin: 20px;
    margin-bottom: 10px;
}

.in-flex div{
    padding: 25px;
    background-color: white;
    margin: 20px;
}

#tech ul li{
   list-style-type: none;
   display: inline;
   padding-right: 10px;
   margin-left: 15px;
}

footer{
    background-color: #E5E7E9;
}

i{
    font-size: 50px;
    margin-left: 0.1rem;
    color: black;
}