/*--------------LAYOUT-------------------*/
.contenedor{
    display: flex;
    width: 1000px;
}
/*--------------ASIDE--------------------*/
#img-principal img{
    border-radius: 50%;
}

aside{
    background-color: #647087;
    color: white;
    width: 28%;
}

aside h2{
    text-transform: uppercase;
    letter-spacing: 2px;
}

dl{
    margin-bottom: 70px;
}

dt{
    clear: left;
    width: 25%;
    float: left;
    margin-bottom: 10px;
    font-weight: bold;
    
}

dd{
    clear: right;
    float: left;
    width: 50%;
    margin: 20px 0;
    
}

aside section h2:first-child{
    border-bottom: 2px solid white;
}

/*--------------MAIN--------------*/
main{
    margin-left: 5px;
}

main section > h2{
    text-transform: uppercase;
    letter-spacing: 2px;
}

#nombre{
    background-color: #69ACE1;
    box-shadow: 3px 3px 10px 2px #647087 inset;
}

#nombre h2{
    color: white;
    border-top: 2px solid white;
    text-transform: none;
    letter-spacing: normal;
}

.sobre-mi{
    background-color: #F7DDC3;
}

.sobre-mi h2{
    background-color: white;
}

article h3{
    font-weight: bold;
}

article h4{
    font-weight: bold;
}

/*------REFERENCIAS-----*/
.referencias{
    display: flex;
}